	<h2 style="color">Your Gold: <%= session[:coins] %></h2>

		<div id="places">
			<div class="place">
				<h3>Farm</h3>
				<p>(earns 10-20 gold coins)</p>
				<form action="/rpg/farm" method="post">
					<input type="hidden" name="building" value="farm">
					<input type="submit" value="Find Gold!">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				</form>
			</div>
			<div class="place">
				<h3>Cave</h3>
				<p>(earns 5-10 gold coins)</p>
				<form action="/rpg/cave" method="post">
					<input type="hidden" name="building" value="cave">
					<input type="submit" value="Find Gold!">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				</form>
			</div>
			<div class="place">
				<h3>House</h3>
				<p>(earns 2-5 gold coins)</p>
				<form action="/rpg/house" method="post">
					<input type="hidden" name="building" value="house">
					<input type="submit" value="Find Gold!">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				</form>
			</div>
			<div class='place'>
				<h3>Casino!</h3>
				<p>(earns/takes 0-50 gold coins)</p>
				<form action="/rpg/casino" method="post">
					<input type="hidden" name="building" value="casino">
					<input type="submit" value="Find Gold!">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				</form>
			</div>
		</div>
		<div id="activities">
			<h2>Activities:</h2>
				<div id="activityBox">
					 <% session[:activities].each do |activity| %>
					 <p class ="<%= activity['color'] %>"><%= activity['message'] %></p>
					 <% end %>
				</div>
		</div>
		<form action='/rpg/new' method='post'>
			<input type="submit" value="Start over">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		</form>